  <p-card id="detailsCard">
    <div class="grid nested-grid">
      <div class="col-2 icon text-center">
        <i class="pi {{ data.icon }}" style="font-size: 2rem"></i>
      </div>
      <div class="col-10">
        <div class="grid">
          <div class="col-12">
            <h4 style="margin: 0">{{ data.title }}</h4>
          </div>
          <div class="col-12">
            <p style="margin: 0">{{ data.subtitle }}</p>
          </div>
        </div>
      </div>
    </div>
  </p-card>
