<p-card styleClass="card-text-blue">
  <h2>{{wordings.title}}</h2>
  <span> {{wordings.subTitle}}</span>
  <p-tabView class="mt-2">
    <p-tabPanel [header]="wordings.section1_title" styleClass="mt-3">
      <div class="file-upload-form">
        <p><i class="pi pi-cloud-upload upload-icon"></i></p>
        <p class="upload-instruction">Glissez et déposez votre fichier ici</p>
        <p class="upload-alternative">ou</p>
        <p-button label="Parcourir les fichiers" styleClass="p-button-outlined"
          (click)="triggerFileSelect()"></p-button>
        <p class="file-limit-info">Fichier limité à 200MB au format PDF uniquement</p>
      </div>
      <p-divider />
      <div class="flex justify-content-end mt-2">
        <p-button (click)="uplaodFile()" class="mr-2">Upload file</p-button>
        <p-button (click)="analyseFile()" disabled>Lancer l'analyse</p-button>
      </div>
    </p-tabPanel>
    <p-tabPanel [header]="wordings.section2_title">
      <div class="flex justify-content-left dropdown-width">
        <p-dropdown [options]="listToAnalyse" [(ngModel)]="selectedFile" optionLabel="Key" placeholder="Sélectionner" />
      </div>
      <p-divider />
      <div class="flex justify-content-end mt-2">
        <p-button (click)="analyseFile()">Lancer l'analyse</p-button>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-card>
title: string;
subTitle: string;


