<p-card styleClass="card-text-blue">
  <h2>Analyser un candidat</h2>
  <span>Téléchargez ou sélectionnez le CV du candidat que vous souhaitez analyser</span>
  <p-tabView>
    <p-tabPanel header="Télécharger un CV" styleClass="tab-button">
      <div class="file-upload-form">
        <p><i class="pi pi-cloud-upload upload-icon"></i></p>
        <p class="upload-instruction">Glissez et déposez votre fichier ici</p>
        <p class="upload-alternative">ou</p>
        <p-button label="Parcourir les fichiers" styleClass="p-button-outlined"
          (click)="triggerFileSelect()"></p-button>
        <p class="file-limit-info">Fichier limité à 200MB au format PDF uniquement</p>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Sélectionner un CV">
      <div>
        <p class="subtitle"> Téléchargez ou sélectionnez dans la liste le CV du candidat que vous souhaitez analyser
        </p>
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Sélectionner" />
      </div>
    </p-tabPanel>
  </p-tabView>
</p-card>