<div class="container analyse-cv">
  <div class="breadcrumb">
    <i class="pi pi-angle-left"></i>
    <p (click)="navigateBack()">Retour</p>
  </div>
  <p-card>
    <app-resultat-analyse-cv [candidate]="candidate"></app-resultat-analyse-cv>
  </p-card>
  <p-card>
    <div class="candidate-card">
      <header class="candidate-header">
        <div class="flex justify-content-between">
          <h1 class="candidate-name">Fichiers du candidat</h1>
          <p-button label="Ajouter un fichier" icon="pi pi-file-plus" iconPos="left"
            styleClass="p-button-outlined"></p-button>
        </div>
        <p>Liste des fichiers associés au profil du candidat</p>
      </header>
      <p-table class="custom-table" [value]="File_list">
        <ng-template pTemplate="header">
          <tr>
            <th> Nom du fichier</th>
            <th> Dernière modification </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-profil>
          <tr>
            <td></td>
            <td></td>
            <td>
              <p-button label="Ouvrir le fichier" styleClass="p-button-outlined"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
</div>