<div class="container analyse-cv">
  <div class="breadcrumb">
    <i class="pi pi-angle-left"></i>
    <p>Retour</p>
  </div>
  <app-resultat-analyse-cv [candidate]="candidate"></app-resultat-analyse-cv>
  <section class="appels-doffres-container">
    <header class="appels-doffres-header">
      <h1 class="appels-doffres-title">Appels d'offres</h1>
      <p class="appels-doffres-description">
        Liste des appels d'offres pour lesquels le candidat est pertinent
      </p>
    </header>
    <div class="ao-card-container grid">
      <ao-card
      class="col-4"
        *ngFor="let card of aoCards"
        [title]="card.title"
        [quotation]="card.quotation"
        [id]="card.id"
        [ref]="card.ref"
        [client]="card.client"
        [sector]="card.sector"
        [profiles]="card.profiles"
        [startDate]="card.startDate"
        [duration]="card.duration"
      ></ao-card>
    </div>
  </section>
</div>
