<div class="container analyse-cv">
  <div class="breadcrumb">
    <i class="pi pi-angle-left"></i>
    <p>Retour</p>
  </div>
  <h2>Analyse CV</h2>
  <p-card header="Résultat de l'analyse">
    <div class="grid">
      <div class="name">Leïla Boati</div>
      <div class="functions align-content-center">
        <p-tag class="function-tag" value="Big Data Engineer" />
        <p-tag class="function-tag" value="Proxy Product Owner Data" />
        <p-tag class="function-tag" value="Data Analyst" />
      </div>
    </div>
    <div class="grid capabilities-container">
      <div class="col">
        <div class="capabilities align-content-center">
          <i class="pi pi-compass"></i>
          <span>Expérience : </span><span>6 ans</span>
        </div>
        <div class="capabilities align-content-center">
          <i class="pi pi-thumbs-up"></i>
          <span>Attractivité du CV : </span
          ><span><p-rating [cancel]="false" [readonly]="true" /></span>
        </div>
        <div class="capabilities align-content-center">
          <i class="pi pi-shopping-bag"></i>
          <span>Compétences métier : </span
          ><span
            >Transformation numérique, Cash management, Compliance, Risque de
            marché</span
          >
        </div>
        <div class="capabilities align-content-center">
          <i class="pi pi-file-check"></i>
          <span>Livrables : </span
          ><span
            >Cartographie data, Etude faisabilité, Cahier des charges, Audit
            RGPD, Diagramme d'architecture data, User Story</span
          >
        </div>
      </div>
      <div class="col">
        <div class="capabilities align-content-center">
          <i class="pi pi-hammer"></i>
          <span>Outils principaux : </span
          ><span
            ><p-tag class="skills-tag" value="AWS" /><p-tag
              class="skills-tag"
              value="GCP" /><p-tag class="skills-tag" value="Azure" /><p-tag
              class="skills-tag"
              value="Python"
          /></span>
        </div>
        <div class="capabilities align-content-center">
          <i class="pi pi-hammer"></i>
          <span>Outils secondaires : </span
          ><span
            ><p-tag class="skills-tag" value="Docker" /><p-tag
              class="skills-tag"
              value="Kafka" /><p-tag class="skills-tag" value="Dataiku"
          /></span>
        </div>
        <div class="capabilities align-content-center">
          <i class="pi pi-hammer"></i>
          <span>Méthodologies : </span
          ><span
            ><p-tag class="skills-tag red" value="Agile" /><p-tag
              class="skills-tag red"
              value="Kanban" /><p-tag class="skills-tag red" value="SCRUM"
          /></span>
        </div>
      </div>
    </div>
  </p-card>
</div>
