/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  color: #00008c;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f9f7f7;
}

.upload-text {
  font-weight: 400;
  font-size: 14px;
}

.file-limit {
  color: #3970e6;
  font-family: Barlow;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0.01em;
  text-align: left;
}
.function-tag {
  span.p-tag {
    background-color: #eff2ff;
    color: #00008c;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
  }
}

.capabilities {
  margin: 1rem 0;
  color: #00008c;
  font-weight: 500;
  font-size: 16px;
  i {
    margin-right: 8px;
  }
}

.skills-tag {
  margin: 0 3px;
  .p-tag {
    background-color: #eff2ff;
    color: #335bfa;
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
  }
}

.skills-tag.red {
  .p-tag {
    background-color: #f9f1fd;
    color: #a13ad4;
  }
}

.skills-tag.green {
  .p-tag {
    background-color: #f4faf6;
    color: #49801a;
  }
}
